h1{
  color: blue;
}

p{
  color: blue;
  font-family: Helvetica;
  font-size: 16px;
}

ul li {
  background-color: yellow;
}

ol li {
  background-color: teal;
}

h2{
  color: green;
  background-color: orange;
}
